body {
    font-family: 'Almarai', sans-serif;
}

.logo {
    width: 50px;
    height: 50px;
}

.cont {
    background-color: ;
}

.nav-style {
    height: 60px;
    width: 1440px;
    background-color: rgb(0, 0, 0);
}

.search-input {
    height: 40px;
    text-indent: 25px;
    border-radius: 20px;
}

.search {
    position: relative;
}

.card {
    position: relative;
    transition: all 0.5s ease-in;
    cursor: pointer;
    height: 375px;
}

.card_image {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.card_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: none;
    transition: 0.5s ease;
    background-color: #393839;
}

.card:hover .card_overlay {
    opacity: 0.8;
}

.overlay_text {
    color: white;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.card-details {
    background-color: rgb(236, 234, 234);
    border-radius: 10px;
    font-size: x-large;
    font-weight: bold;
}

.image-mov {
    width: 400px;
    height: 470px;
    border-radius: 10px;
}

@media only screen and (max-width:600px) {
    .image-mov {
        width: 250px;
        height: 320px;
        border-radius: 10px;
    }
    .card-text-details {
        font-size: medium;
    }
}

.text-end {
    text-align: center;
}

.card-story {
    background-color: rgb(236, 234, 234);
    border-radius: 10px;
    font-size: x-large;
    font-weight: bold;
}
